{% extends "base.html" %}

{% block content %}
   <section id="home" class="relative bg-white text-gwc-pink py-20 w-full">
    <div class=" mx-auto px-4 flex flex-col items-start gap-8">
        
        <h1 class="font-eb text-4xl text-center md:text-5xl font-bold leading-tight mx-auto">
            Empowering the Next Generation of Women in Tech at <br><span class="text-gwc-teal">UM-Dearborn</span>
        </h1>
        
    <div class="flex items-center w-full mx-auto px-4 gap-6 mt-8">
    
    <h2 class="text-left text-xl sm:text-2xl md:text-3xl lg:text-4xl font-extrabold text-know-base-beige whitespace-nowrap">
        ABOUT US
    </h2>
    
    <div class="relative flex-grow flex items-center">
        <div class="absolute left-0 w-3 h-3 sm:w-4 sm:h-4 rounded-full bg-gwc-teal animate-pop-in z-10"></div>
        
        <div class="h-1 w-full bg-gwc-pink animate-grow-line origin-left ml-2"></div>
    </div>
    </div>
    <div class=" flex-1 mx-auto mt-2 max-w-3xl">
     <p class=" items-center text-center text-lg sm:text-base md:text-lg lg:text-xl text-black mt-2 max-w-3xl">
        Girls Who Code at the University of Michigan-Dearborn is a student-led organization dedicated to closing the gender gap in technology. We provide a supportive community and resources for women interested in computer science, offering workshops, mentorship, and networking opportunities to empower the next generation of female technologists.
    </p>    
    </div>
    <div class="max-w-6xl mx-auto px-4 mt-10">
        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-12">
            
            <li class="flex flex-col items-center text-center group">
                <div class="text-6xl md:text-7xl font-black text-gwc-pink mb-2 tracking-tighter">200</div>
                <div class="text-xl font-bold text-gray-900 uppercase tracking-wide mb-3">UM-Dearborn Served</div>
                <div class="text-gray-500 text-sm leading-relaxed max-w-[250px]">
                    Girls Who Code has served 200 girls, women, and nonbinary individuals
                </div>
            </li>

            <li class="flex flex-col items-center text-center">
                <div class="text-6xl md:text-7xl font-black text-gwc-teal mb-2 tracking-tighter">150+</div>
                <div class="text-xl font-bold text-gray-900 uppercase tracking-wide mb-3">Mentees Reached</div>
                <div class="text-gray-500 text-sm leading-relaxed max-w-[250px]">
                    There are 330,000 Girls Who Code alumni who are college-aged or post-college aged
                </div>
            </li>

            <li class="flex flex-col items-center text-center">
                <div class="text-6xl md:text-7xl font-black text-gwc-pink mb-2 tracking-tighter">40+</div>
                <div class="text-xl font-bold text-gray-900 uppercase tracking-wide mb-3">Events Hosted</div>
                <div class="text-gray-500 text-sm leading-relaxed max-w-[250px]">
                    We taught over 8,000 students about AI through our Summer Programs in 2024
                </div>
            </li>

            <li class="flex flex-col items-center text-center">
                <div class="text-6xl md:text-7xl font-black text-gwc-teal mb-2 tracking-tighter">2</div>
                <div class="text-xl font-bold text-gray-900 uppercase tracking-wide mb-3">Conferences</div>
                <div class="text-gray-500 text-sm leading-relaxed max-w-[250px]">
                    We taught over 8,000 students about AI through our Summer Programs in 2024
                </div>
            </li>

        </ul>
    </div>
</section>

    

{% endblock %}